# == In this configuration you setup Alchemy´s element layouts.
#
# For further informations please see http://guides.alchemy-cms.com/create_elements.html
- name: gallery
  unique: true
  nestable_elements:
  - gallery_picture
  autogenerate:
  - gallery_picture

- name: gallery_picture
  compact: true
  contents:
  - name: image
    type: EssencePicture
    settings:
      size: 500x500
      crop: true
  - name: caption
    type: EssenceText
    default: 'Image Caption'

- name: category_intro
  unique: true
  contents:
  - name: image
    type: EssencePicture
    settings:
      size: 303x393
      crop: true
  - name: header
    type: EssenceText
    default: 'Header'
  - name: text
    type: EssenceRichtext
    default: 'Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec dignissim nibh fermentum odio ornare sagittis.'

- name: blog_post
  contents:
  - name: title
    type: EssenceText
    default: 'Blog Post Title'
  - name: meta_data
    type: EssenceText
    default: 'Written by'
  - name: image
    type: EssencePicture
    settings:
      size: 400x240
      crop: true
  - name: intro
    type: EssenceRichtext
    default: :blog_post_intro
  - name: body
    type: EssenceRichtext
    default: :blog_post_body

- name: video_slide
  contents:
  - name: video
    type: EssenceText
    hint: Please paste a Vimeo video id into this field. The embed code is already included.

- name: image_slide
  contents:
  - name: image
    type: EssencePicture
    settings:
      size: 1000x400
      crop: true

- name: content_block
  contents:
  - name: picture
    type: EssencePicture
    settings:
      size: 400x300
      crop: true
  - name: headline
    type: EssenceText
    default: This is a content section.
  - name: text
    type: EssenceRichtext
    default: <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>

- name: intro_text
  unique: true
  contents:
  - name: headline
    type: EssenceText
    default: Header
  - name: subheader
    type: EssenceText
    default: Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec dignissim nibh fermentum odio ornare sagittis.
  - name: text
    type: EssenceRichtext
    default: <p>Suspendisse ultrices ornare tempor. Aenean eget ultricies libero. Phasellus non ipsum eros. Vivamus at dignissim massa. Aenean dolor libero, blandit quis interdum et, malesuada nec ligula. Nullam erat erat, eleifend sed pulvinar ac. Suspendisse ultrices ornare tempor. Aenean eget ultricies libero.</p>

- name: text_block
  contents:
  - name: headline
    type: EssenceText
    default: This is a headline.
  - name: text
    type: EssenceRichtext
    default: <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
    settings:
      tinymce:
        toolbar1: 'bold,italic,underline'
        toolbar2: ''

- name: call_to_action
  unique: true
  contents:
  - name: headline
    type: EssenceText
    default: Get in touch!
  - name: text
    type: EssenceRichtext
    default: We'd love to hear from you, you attractive person you.

- name: image_teaser
  contents:
  - name: image
    type: EssencePicture
    settings:
      size: 250x250
      crop: true
  - name: caption
    type: EssenceText
    default: Subline

- name: portrait_image
  unique: true
  contents:
  - name: image
    type: EssencePicture
    settings:
      size: 300x465
      crop: true

- name: footer_note
  unique: true
  contents:
  - name: body
    type: EssenceText
    default: 'Made with ❤️ and AlchemyCMS'

- name: footer_links
  unique: true
  contents:
  - name: link
    type: EssenceText
    settings:
      linkable: true
  nestable_elements:
    - footer_links_link
  autogenerate:
    - footer_links_link

- name: footer_links_link
  contents:
  - name: link
    type: EssenceText
    settings:
      linkable: true

- name: social_button
  unique: true

- name: slider
  fixed: true
  unique: true
  nestable_elements:
    - video_slide
    - image_slide
  autogenerate:
    - video_slide
    - image_slide
