<header class="row">
  <div class="large-12 columns">
    <div class="nav-bar right">
      <%= render_navigation({navigation_link_partial: 'alchemy/navigation/button_link'}, {class: 'button-group'}) %>
    </div>
    <h1>
      <small><%= @page && @page.title %></small></h1>
    <hr>
  </div>
</header>
