<header class="row">
  <div class="large-12 columns">
    <div class="nav-bar right">
      <%= render_menu('Main Navigation') %>
    </div>
    <h1>
      <small><%= @page && @page.title %></small></h1>
    <hr>
  </div>
</header>
