<footer class="row">
  <div class="large-12 columns">
    <hr>
    <div class="row">
    <% if footer_page %>
      <div class="large-4 columns">
        <%= render_elements(only: 'footer_note', from_page: footer_page) %>
      </div>
      <div class="large-4 columns">
        <%= render_elements(only: 'social_button', from_page: footer_page) %>
      </div>
      <div class="large-4 columns">
        <%= render_menu('Footer Navigation') %>
      </div>
    <% end %>
    </div>
  </div>
</footer>
