<% cache(cell) do %>
<% if cell.elements.published.any? %>
<div class="row">
  <div class="large-12 columns">
    <ul data-orbit>
      <%= render_elements(from_cell: cell) %>
    </ul>
    <hr>
  </div>
</div>
<% end %>
<% end %>
