<% cache(category_intro_view) do %>
<%= element_view_for(category_intro_view) do |el| %>
  <%= el.render :image %>
  <div class="hide-for-small panel">
    <h3><%= el.render :header %></h3>
    <h5 class="subheader">
      <%= el.render :text %>
    </h5>
  </div>
<% end %>
<% end %>
