<% cache(element) do %>
<%= element_view_for(element, class: 'large-4 columns') do |el| -%>
  <%= el.render :picture, image_size: '400x300', crop: true %>
  <h4><%= el.render :headline %></h4>
  <%= el.render :text %>
<%- end -%>
<%- end -%>
