<% cache(element) do %>
<ul class="inline-list right"<%= element_preview_code(element) %>>
<% element.nested_elements.each do |element| %>
  <li><%= render_element(element) %></li>
<% end %>
</ul>
<% end %>
