<%- cache(gallery_picture_view) do -%>
  <%= element_view_for(gallery_picture_view, class: 'large-4 small-6 columns') do |el| -%>
    <%= el.render :image %>

    <div class="panel">
      <h5><%= el.ingredient(:caption) %></h5>
    </div>
  <%- end -%>
<%- end -%>
