<% cache(video_slide_view) do %>
<% video = video_slide_view.ingredient(:video) %>
<% if video %>
<li>
  <iframe width="100%" height="388" src="//www.youtube.com/embed/<%= video %>?rel=0" frameborder="0" allowfullscreen></iframe>
</li>
<% end %>
<% end %>
